<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-900 text-gray-400">

    <header class="bg-gray-950 text-white p-4 shadow">
        <div class="container mx-auto">
            <h1 class="text-2xl font-bold">Distributed E-Commerce Dashboard</h1>
            <p class="text-sm text-blue-200">FastAPI + PostgreSQL + MongoDB + Redis</p>
        </div>
    </header>

    <main class="container mx-auto px-4 py-6">
        {% block content %}{% endblock %}
    </main>


</body>
</html>
